<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partial/nav') %>
    <div class="container mb-3">
        <div class="jumbotron">
            <h1>My website</h1>
            <p>welcome my site</p>
        </div>
    </div>
</body>
</html>